@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* CSS Reset Code Started */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}
/* CSS Reset Code End */

:root {
  --small-font-size: 14px;
  --primary-color: #2b70c5;
  --secondary-color: #1566d6;
  --light-color: #fff;
  --gray-color: #303236;
  --btn-primary: #0d6efd;
  --section-spacing: 6rem 0rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--gray-color);
}

button {
  padding: 18px 24px;
  border-radius: 2rem;
  font-size: 16px;
}

/*utility & Re-used CSS Code Started */

.txtCenter {
  text-align: center;
}

.wfull {
  width: 100%;
}

.hfull {
  height: 100%;
}

.primary-text {
  color: var(--primary-color);
}

.text-sm {
  font-size: 22px;
  font-weight: 500;
  margin: 1rem 0;
}

.text-bg {
  font-size: 67px;
  font-weight: 600;
  letter-spacing: -2px;
  margin: 1rem 0;
}

.small-font {
  font-size: var(--small-font-size);
}

.jarvis-heading {
  font-size: 50px;
  font-weight: 600;
  margin: 1.3rem 0;
  color: rgb(48, 50, 54);
}
.jarvis-subtitle {
  font-size: 16px;
  line-height: 1.5rem;
  color: rgb(48, 50, 54);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  gap: 1.5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.section-spancing {
  padding: var(--section-spacing);
}

.container {
  width: 80%;
  margin: 0 auto;
}


/* Re-used CSS Code End */

/* navbar code start*/

.navbar {
  display: flex;
  justify-content: center;
  column-gap: 7rem;
  align-items: center;
  padding: 2vh 0;
  border-bottom: 1px solid rgb(236, 236, 236);
  position: absolute;
  background-color: white;
  left: 0;
  top: 0;
  right: 0;
  z-index: 7;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list a{
  margin: 0 0.7rem;
  display: flex;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-list a::after{
  content: "";
  background-color: #0d6efd;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: -2.1rem;
  transform: translateX(-50%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 100%;
  width: 0;
}

.nav-list a:hover::after,
.nav-list a:focus::after {
  visibility: visible;
  width: calc(100% + 1.4rem);
}

.nav-list a img {
  margin: 0 5px;
  transition: 0.5s ease-in-out;
}
.nav-list a:hover img,.nav-list a:focus img{
  transform: rotate(181deg);
}

.nav-list > button[type="submit"] {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  margin-left: 1rem;
}

.menu-btn-svg{
  display: none;
}

/* navbar code end */

/* navbar dropdown code started */

.navbar-dropdown {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  position: absolute;
  top: 12%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  z-index: 5;
}

.dropdown-list {
  background-color: rgb(255, 255, 255);
  padding: 2rem 5rem;
}

.dropdown-heading {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.dropdown-list a {
  margin: 1rem;
}

.dropdown-list div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 10px;
}

.dropdown-list-heading {
  font-size: 16px;
  font-weight: 600;
}

.dropdown-list div p {
  margin-left: 2.4rem;
  font-size: 14px;
  padding: 12px 0;
  color: rgb(103, 110, 118);
}

.solution-dropdown {
  padding-top: 11vh;
  display: flex;
  gap: 4rem;
}

.dropdown-flex {
  display: flex;
  flex-direction: column;
}

.dropdown-flex a {
  margin: -1px;
}

.dropdown-flex > a > p {
  color: rgb(33, 37, 41);
  position: absolute;
  top: 1rem;
  left: 2rem;
}
/* navbar dropdown code End*/

/* hero section code started*/

.hero-section {
  width: 60%;
  color: rgba(48, 50, 54, 1);
  margin: 1.5rem auto;
  margin-top: 25vh;
}

.hero-section p:first-child {
  font-size: 14px;
  font-weight: 600;
}

.hero-section-btn {
  background-color: rgb(255, 255, 255);
  padding: 1.2rem 2.8rem;
  font-size: 20px;
  border: 1px solid rgb(185, 185, 185);
  cursor: pointer;
  margin: 1.8rem 0;
  transition: background-color 0.7s ease;
}

.hero-section-btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: white;
}
.jarvis-video {
  padding-left: 42px;
  padding-right: 42px;
}

/* Hero section code end */

/* Analyze code started */

.analyze-section {
  margin: 0 auto;
  padding: 12rem 5rem;
  width: 80%;
}

.feature-box {
  height: 27vh;
  margin: 1rem;
  border-radius: 1rem;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(208, 214, 218);
}

.feature-box img {
  margin-right: 2rem;
}

/* Analyze code end */

/* why jarvis section code started */

.why-jv-section {
  background: linear-gradient(
      0deg,
      rgba(43, 112, 197, 0.04) 0%,
      rgba(43, 112, 197, 0.04) 100%
    ),
    #fff;
}

.why-jv-section > .container{
  width: 70%;
}

/* why jarvis section code end */

/* serve section code started*/
.serve-imgs img {
  width: 100%;
  /* margin: 10px; */
  margin-block: 10px;
  cursor: pointer;
}
.serve-imgs div img:nth-child(1),
.serve-imgs div img:nth-child(2) {
  transition: opacity 0.3s ease, transform 0.5s ease;
}

.posi-ab img:hover {
  transform: scale(0.9);
  opacity: 0;
}

.posi-ab {
  top: -30px;
  position: absolute;
}

/* serve section code end*/

/* partners section code started */
.logos-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  row-gap: 1rem;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 190px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid rgb(194, 194, 194);
}

.companys-logo {
  margin: 7% 9%;
  column-gap: 1rem;
  display: flex;
  overflow-x: scroll;
  overflow: hidden;
}

.companys-logo::-webkit-scrollbar {
  overflow: hidden;
}

.slider {
  position: relative;
}

.slider-btn {
  display: none;
}

.slider-navigation {
  position: absolute;
  left: 49%;
  top: 100%;
}

.manual-btn {
  border-radius: 20px;
  background-color: #cacaca77;
  padding: 0px 10px;
  margin-right: 20px;
  font-size: 10px;
  cursor: pointer;
}

#radio-btn1 {
  background-color: #1566d6;
}

.manual-btn:hover {
  background-color: #0d6efd;
}

#btn1:checked ~ .first-slide {
  transition: 0.8s ease-in-out;
  /* background-color: #0056b3; */
}

#btn2:checked ~ .first-slide {
  margin-left: -100%;
  transition: 0.8s ease-in-out;
  /* background-color: #0056b3; */
}

/* partners section code end */

/* Collaborator section code started */

.collab-img-flex {
  display: flex;
  justify-content: center;
  margin: 5% 20rem;
  gap: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.collab-logo img {
  filter: grayscale(1);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.collab-logo img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* Collaborator section code End*/

/* media section code started */

.media-img-flex {
  display: flex;
  margin-block: 5%;
  margin-inline: 22%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  column-gap: 1.5rem;
}

.media-logo {
  display: flex;
  justify-content: center;
  width: 12vw;
}

.media-logo img {
  height: 60px;
  filter: grayscale(100%);
}

/* media section code end */

/* contact section code started */

.contact-container {
  display: flex;
  width: 78vw;
  height: 97vh;
  margin: 5% auto;
  overflow: hidden;
}

.contact-left-div {
  display: flex;
  color: white;
  flex-direction: column;
  background-color: rgb(21, 102, 214);
  justify-content: center;
  row-gap: 1rem;
  padding-inline: 2.5rem;
  height: 100%;
  width: 29%;
  border-radius: 17px 0 0 17px;
}

.phone-icon-box {
  background-color: rgba(255, 255, 255, 0.274);
  padding: 2.5rem;
  border-radius: 50%;
  margin: 0 auto;
}

.contact-right-div {
  width: 80%;
  /* height: 100%; */
  background-color: rgb(253, 253, 253);
  border-radius: 0 17px 17px 0;
  border: 1px solid rgba(159, 182, 231, 0.774);
  padding: 3.2rem 5rem;
}

.contact-label {
  display: flex;
  flex-wrap: wrap;
}

.contact-label input[type="checkbox"]{
  display: none;
}
.contact-label label {
  color: white;
  /* background-color: rgb(255, 255, 255); */
  margin-right: 1rem;
  margin-block: 5px;
  padding: 0.5rem 0.8rem;
  font-size: 15px;
  color: rgb(114, 114, 114);
  border: 1px solid rgb(197, 197, 197);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.contact-label {
  margin-bottom: 50px;
}

.form-row input {
  width: 21rem;
  font-size: 16px;
  padding: 15px 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ececec;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  margin: 15px 0;
  width: 100%;
  height: 110px;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #333;
  border: 1px solid #ececec;
  border-radius: 5px;
  outline: none;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

input[type="submit"] {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0;
  background-color: rgb(22, 98, 212);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

input[type="checkbox"]:checked + label{
  background-color: #006cdf;
  color: white;
  border: #006cdf;;
}

/* contact section code End */

/* footer section code started */

.footer-section {
  background: linear-gradient(
      0deg,
      rgba(21, 102, 214, 0.04) 0%,
      rgba(21, 102, 214, 0.04) 100%
    ),
    #fff;
  padding-bottom: 0;
}

.footer-head {
  margin-top: -1rem;
  padding-bottom: 20px;
  line-height: 30px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.footer-head div:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
}

.footer-list {
  align-items: start;
  margin-bottom: 7rem;
}

.footer-list p {
  font-size: 16px;
  font-weight: 600;
  color: rgb(48, 50, 54);
}

.footer-address li{
  font-size: 16px !important;
  font-weight: 400 !important;
}

.footer-list li {
  font-size: 14px;
  font-weight: 500;
  color: rgb(116, 116, 116);
  margin-block: 20px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

li ion-icon {
  font-size: 18px;
}

.footer-nth-last div:nth-child(2) {
  justify-content: left;
  margin-top: 1rem;
  color: rgb(48, 50, 54);
}

.footer-bottom {
  /* margin-inline:-4vw ; */
  background: linear-gradient(
      0deg,
      rgba(21, 102, 214, 0.12) 0%,
      rgba(21, 102, 214, 0.12) 100%
    ),
    #fff;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-around;
  gap: 35%;
  color: rgb(48, 50, 54);
  margin-top: 2rem;
}
/* footer section code end */
