@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* CSS Reset Code Started */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    
}
/* CSS Reset Code End */
/*
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
 font-family: 'Poppins', sans-serif;
*/
:root{
    --font-size:24px;
    --primary-color:#2b70c5;
    --secondary-color:#1566d6;
    --light-color:#fff;
    --gray-color:#303236;
    --btn-primary:#0d6efd;
}


/* Re-used CSS Code Started */

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--gray-color)
}

button {
    padding: 1.2rem;
    border-radius: 2rem;
    font-size: 16px;
}

.wfull {
    width: 100%
}
.primary-span-text{
    color: var(--primary-color);
}

.text-sm{
    font-size: 22px;
    font-weight: 500;
}

.text-bg{
    font-size: 67px;
    font-weight: 600;
    margin: 1rem 0;
}
/* Re-used CSS Code End */


/* navbar code start*/

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 13vh;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list a{
    margin:0 0.8rem;
    display: flex;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.nav-list a:hover{
    text-decoration: underline;
    text-underline-offset: 2.4rem;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 3px;
}

.nav-list a img{
    margin: 0 5px;
}

.nav-list > button[type="submit"]{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    margin-left: 1rem;
}

/* navbar code end */

/* main code start*/

.hero-section{
    text-align: center;
    width: 60%;
    color: rgba(48, 50, 54, 1);
    margin: 1.5rem auto;
    margin-top: 5%;

}

.hero-section p:first-child{
    font-size: 14px;
    font-weight: 600;
}

.hero-section-btn{
    background-color: rgb(255, 255, 255);
    padding: 1.2rem 2.8rem;
    font-size: 20px;
    border: 1px solid rgb(185, 185, 185);
    cursor: pointer;
    margin: 1.8rem 0;
    transition: background-color 0.7s ease;
}


.hero-section-btn:hover{
   background-color: var(--secondary-color);
   border: 1px solid var(--secondary-color);
   color: white;
}
.jarvis-video{
        padding-left: 42px;
    padding-right: 42px;
    /* margin: 0 3%; */
}

/* Hero section code end */


